__pycache__/
.vscode/
logs/
log/
*.log
tests/__pycache__/
tests/.pytest_cache/
tests/unit/__pycache__/
tests/unit/pytorch/__pycache__/
*.pyc
*.so
tests/.pytest_cache/v/cache/lastfailed
tests/.pytest_cache/v/cache/nodeids
tests/__pycache__/__init__.cpython-36.pyc
tests/__pycache__/bert_model.cpython-36.pyc
tests/__pycache__/conftest.cpython-36-pytest-5.4.1.pyc
tests/__pycache__/tf_bert.cpython-36.pyc
tests/__pycache__/torch_bert.cpython-36.pyc
tests/__pycache__/utils.cpython-36.pyc
tests/unit/__pycache__/__init__.cpython-36.pyc
tests/unit/pytorch/__pycache__/__init__.cpython-36.pyc
tests/unit/pytorch/__pycache__/attention_test.cpython-36-pytest-5.4.1.pyc
tests/unit/pytorch/__pycache__/embedding_test.cpython-36-pytest-5.4.1.pyc
tests/unit/tensorflow/__pycache__/
tests/.pytest_cache/
tests/unit/tensorflow/.pytest_cache/
tests/unit/pytorch/.pytest_cache/
*checkpoint*
*cache*
onnx_best/
tmp/
tests/unit/pytorch/fullgraph_diff.txt
configs/bert_base.json
LR_Schedules/__pycache__/
LR_Schedules/*.pyc
Datasets/sample.tfrecord
Datasets/vocab.txt
configs/test_config.json